<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alberto Pereira Gaviño">
    <title>Welcome to Inditex Price Service!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: #f4f4f9;
            color: #333;
        }
        h1 {
            color: #0073e6;
        }
        a {
            text-decoration: none;
            color: #0073e6;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>Welcome to Inditex Price Service</h1>
<h2>Use the following endpoint to retrieve the price:</h2>
<p>
    <code><strong>/v1/api/prices/getPrice</strong></code>
</p>
<h3>Example:</h3>
<p>
    <a href="/v1/api/prices/getPrice?date=2020-06-14T10:00:00&productId=35455&brandId=1">
        /v1/api/prices/getPrice?date=2020-06-14T10:00:00&productId=35455&brandId=1
    </a>
</p>
</body>
</html>
